<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602193694864-p02s7rr8kodoodkf00d2u09mavqa2f5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602193694864-p02s7rr8kodoodkf00d2u09mavqa2f5p</string>
	<key>API_KEY</key>
	<string>AIzaSyBxZkzDxOM4wC5V61_NfsYO7Pq4jMj7E4I</string>
	<key>GCM_SENDER_ID</key>
	<string>602193694864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sincroneasy.starNotes</string>
	<key>PROJECT_ID</key>
	<string>app-starnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>app-starnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602193694864:ios:53d80e9550e8fee6ce8815</string>
</dict>
</plist>